@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #032147;
  --accent-yellow: #ecad0a;
  --primary-blue: #209dd7;
  --secondary-purple: #753991;
  --heading-navy: #032147;
  --supporting-gray: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-yellow: var(--accent-yellow);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-purple: var(--secondary-purple);
  --color-heading-navy: var(--heading-navy);
  --color-supporting-gray: var(--supporting-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
